body{
  font: 15px/1.5 arial, helvetica, sans-serif;
  color: black;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}
.dark{
  padding: 15px;
  background: #464646;
  color: Gainsboro;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_1{
  height: 38px;
  background:  Gainsboro;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: back;
}



/*Header*/
header{
  background: #333;
  color: Gainsboro;
  padding-top:30px;
  min-height: 70px;
  border-bottom: gold 3px solid;
}

header a{
  color: Gainsboro;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin:0
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: gold;
  font-weight:bold;
}

header a:hover{
  color: gold;
  font-weight: bold;:

}

/*showcase*/

#showcase{
  min-height: 400px;
  width: auto;
  background: url(../images/showcase.jpg) no-repeat 0 0;
  text-align: center;
  color: Gainsboro;
}

#showcase h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 18px;
}

/*newsletter*/

#newsletter {
  padding: 15px;
  color: Gainsboro;
  background: #464646;

}

#newsletter h1{
  float: left;

}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width:250px;
}

/*Boxes*/
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;

}

#boxes .box img{
  width: 90px;
  height: 90px;
}

/*sidebar*/
aside#sidebar{
  width: 30%;
  float:right;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/*main-col*/
article#main-col{
  float: left;
  width: 65%;
}

/*services*/
ul#services li{
  list-style: none;
  color: Gainsboro;
  padding: 20px;
  border: gold solid 1px;
  margin-bottom: 5px;
  background: #464646;
}


footer{
  padding: 20px;
  margin-top: 20px;
  color:Gainsboro ;
  background: #464646;
  text-align: center;
}

/*midea Queries, cellphone, tablets*/
@media (max-width 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    widdth: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }
  #newsletter form input [type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
